# {{ generated_comment }}
# If the local VLESS/REALITY line below is not accepted by your Shadowrocket build,
# import this URL as a node subscription first: {{ fallback_subscription_url }}

[General]
bypass-system = true
skip-proxy = 192.168.0.0/16,10.0.0.0/8,172.16.0.0/12,localhost,*.local
tun-excluded-routes = 10.0.0.0/8,100.64.0.0/10,127.0.0.0/8,169.254.0.0/16,172.16.0.0/12,192.0.0.0/24,192.0.2.0/24,192.88.99.0/24,192.168.0.0/16,198.18.0.0/15,198.51.100.0/24,203.0.113.0/24,224.0.0.0/4,255.255.255.255/32
dns-server = https://doh.pub/dns-query,https://dns.alidns.com/dns-query,1.1.1.1,8.8.8.8
ipv6 = true

[Proxy]
{% for line in proxy_lines -%}
{{ line }}
{% endfor %}

[Proxy Group]
{% for group in groups -%}
{% if group.type == "url-test" -%}
{{ group.name }} = {{ group.type }},{{ group.members|join(",") }},url={{ group.url }},interval={{ group.interval }},tolerance={{ group.tolerance }}
{% else -%}
{{ group.name }} = {{ group.type }},{{ group.members|join(",") }}
{% endif -%}
{% endfor %}

[Rule]
{% for line in rules -%}
{{ line }}
{% endfor %}

